
@import url('https://fonts.cdnfonts.com/css/brandon-grotesque-regular');

body {

  font-family: 'Brandon Grotesque Regular', sans-serif !important;
  background-color: rgb(14, 14, 14) !important;

  
  }


.main {
 
  background-size: cover;
    margin: 30px !important;
    padding: 15px !important;
    padding-top: 20px !important;
    border-radius: 30px !important;
    height: 92vh !important;
    
    
}

/* modal settings */

#myBtn {
  position: fixed !important;
  bottom: 50px !important;
  right: 40px !important;
}


#myBtn1 {
  position: fixed !important;
  top: 50px !important;
  right: 40px !important;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.131); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  width: 500px !important;
  height: 400px !important;
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  background-color: #d3d3d3 !important;
  border-radius: 20px 20px 0px 20px !important;
  border: none !important;

}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 100% !important;
    height: 400px !important;
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  background-color: #d3d3d3 !important;
  border-radius: 20px 20px 0px 0px !important;
  border: none !important;
    
  }

  .slider {
    -webkit-appearance: none;
    
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    
  }



}

/* The Close Button */
.close {
  color: rgb(109, 109, 109);
  position: fixed;
  right: 0px !important;
  padding-right: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 20px !important;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.slider {
  -webkit-appearance: none;
  
  width: 80%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 60px !important;
  margin-bottom: 30px !important;
  margin-left: 50px !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #006989;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}


/* info button */

.modal-content1 {
  width: 500px !important;
  height: 400px !important;
  position: absolute;
   left: 50%;
   right: 50%; 
  background-color: #d3d3d3 !important;
  border-radius: 20px 20px 20px 0px !important;
  border: none !important;

}

.modal-content1>h3 {
  padding-top: 20px !important;
  padding-left: 20px !important
}

.close1 {
  color: rgb(109, 109, 109);
  position: fixed !important;
  left: 0px !important;
  padding-left: 460px !important;
  padding-top: 5px !important;
  padding-bottom: 20px !important;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .modal-content1 {
    width: 100% !important;
    height: 400px !important;
    position: absolute;
    left: 50%;
    right: 50%; 
  background-color: #d3d3d3 !important;
  border-radius: 20px 20px 0px 0px !important;
  border: none !important;
    
  }

  .close1 {
    color: rgb(109, 109, 109);
    position: fixed !important;
    padding-left: 90% !important;
    padding-top: 5px !important;
    padding-bottom: 20px !important;
    font-size: 28px;
    font-weight: bold;
  }



}

.player {

  position: fixed;
  left: 0px !important;
  bottom: -20px !important;
  height: 20% !important;
  width: 100%;
  color: white;
  text-align: center;
  
  border-radius: 15px !important;
  


}

.player-btn {

  padding-top: 20px !important;


}


.control-volume {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 200px; /* Full-width */
  height: 8px; /* Specified height */
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.control-volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.control-volume::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px;
  margin-top: -16px !important; 
  border-radius: 50%;
  padding-bottom: 10px !important; 
  background: plum; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.control-volume::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px;
  border-radius: 50%;
  margin-top: -16px !important; 
  background: plum; /* Green background */
  cursor: pointer; /* Cursor on hover */
}



.title {
  position: fixed;
  left: 0px !important;
  bottom: 100px !important;
  height: 20% !important;
  width: 100%;
  color: white;
  text-align: center;
  
}

.box {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 20px !important;
}

#boombox {
  width: var(--boxWidth);
  height: var(--boxHeight);
  margin: 0px auto;
  perspective: 1000px;
  perspective-origin: 50% 100px;
  transform-style: preserve-3d;
}
.boombox-body {
  position: relative;
  width: var(--boxWidth);
  height: var(--boxHeight);
  transform-style: preserve-3d;
  transform: scale(0.8);
}





#move-controls {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: flex-end;
  background: hsla(0, 0%, 0%, 0.6);
  color:#d3d3d3;
  border-radius: 50px;

  border: var(--border);
}
/* little hack for small screens to make sure you can press play */
@media screen and (max-width: 800px) {
  body {
    padding-bottom: 70px;
  }
}
#move-controls h3 {
  display: none;
}
.move-controls_xy,
.move-controls_rotate {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 10vmin);
  margin: 3vmin;
}
.move-controls_xy button:nth-of-type(1),
.move-controls_rotate button:nth-of-type(1) {
  grid-area: 2 / 1 / 3 / 2;
}
.move-controls_xy button:nth-of-type(2),
.move-controls_rotate button:nth-of-type(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.move-controls_xy button:nth-of-type(3),
.move-controls_rotate button:nth-of-type(3) {
  grid-area: 2 / 3 / 3 / 4;
}
.move-controls_xy button:nth-of-type(4),
.move-controls_rotate button:nth-of-type(4) {
  grid-area: 3 / 2 / 4 / 3;
}

.move-controls_z {
  display: grid;
  justify-items: center;
}
.move-controls_z button:nth-of-type(1) {
  align-self: end;
}
.move-controls_z button:nth-of-type(2) {
  align-self: start;
}

#move-controls button {
  display: inline-block;
  margin: 0px;
  padding: 3vmin 4vmin;
  background-color: var(--green);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  border: var(--border);
  border-radius: var(--borderRad);
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  #move-controls button {
    padding: 2vmin 3vmin;
  }
}

#move-controls button:hover {
  background-color: var(--lime);
}
#move-controls button span {
  display: none;
}

/* control icons */
#move-controls button[data-control="left"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="white" d="M187.297,67.908h-82.468V17.505c0-7.606-9.242-11.446-14.575-6.044L8.995,93.147c-3.34,3.341-3.34,8.674,0,12.016 l81.259,81.685c5.402,5.404,14.575,1.564,14.575-6.041v-50.334h82.468c4.691,0,8.53-3.839,8.53-8.531V76.44C195.827,71.747,191.988,67.908,187.297,67.908z"/></svg>');
}
#move-controls button[data-control="up"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="white" d="M132.405,185.293v-82.468h50.403c7.606,0,11.446-9.242,6.044-14.575L107.167,6.991c-3.341-3.34-8.674-3.34-12.016,0 L13.467,88.25c-5.404,5.402-1.564,14.575,6.041,14.575h50.334v82.468c0,4.691,3.839,8.53,8.531,8.53h45.501 C128.566,193.823,132.405,189.985,132.405,185.293z"/></svg>');
}
#move-controls button[data-control="right"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="white" d="M15.021,130.402h82.468v50.403c0,7.606,9.242,11.446,14.575,6.044l81.259-81.686c3.34-3.341,3.34-8.673,0-12.015 l-81.259-81.685c-5.402-5.404-14.575-1.564-14.575,6.041v50.334H15.021c-4.691,0-8.53,3.839-8.53,8.531v45.5 C6.491,126.563,10.33,130.402,15.021,130.402z"/></svg>');
}
#move-controls button[data-control="down"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="white" d="M69.913,13.018v82.468H19.509c-7.606,0-11.446,9.241-6.043,14.574l81.685,81.259c3.341,3.34,8.673,3.34,12.015,0 l81.685-81.259c5.404-5.402,1.564-14.574-6.041-14.574h-50.334V13.018c0-4.691-3.839-8.53-8.531-8.53h-45.5 C73.752,4.488,69.913,8.326,69.913,13.018z"/></svg>');
}

#move-controls button[data-control="back"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="gray" d="M142.706,182.798l-13.872-81.329l37.906-0.012c5.721-0.002,3.264-9.116-3.361-14.374l-53.61-80.126 c-0.319-3.294-0.823-3.294-1.402,0l-59.94,80.16c-7.087,5.331-10.219,14.378-4.5,14.377l37.855-0.012l-20.336,81.342 c-1.157,4.628,3.1,8.411,9.46,8.409l61.672-0.02C138.938,191.212,143.495,187.426,142.706,182.798z"/></svg>');
}
#move-controls button[data-control="forward"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 198.43 198.43"><path fill="gray" d="M90.711,12.843L74.096,93.626H28.482c-6.883,0-15.651,9.053-13.343,14.278l77.002,79.599 c4.844,3.271,12.844,3.271,17.784,0l79.272-79.599c2.421-5.293-6.051-14.278-12.933-14.278h-45.551l-14.347-80.783 c-0.815-4.596-2.861-8.356-4.545-8.356H95.492C93.808,4.487,91.656,8.247,90.711,12.843z"/></svg>');
}

#move-controls button[data-control="rotate-left"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="3.101 111.617 190.645 83.712"><path d="M12.402,114.717h51.956c8.287,0,12.437,10.02,6.577,15.879l-16.18,16.181c12.116,11.345,27.84,17.563,44.521,17.549 c30.004-0.027,55.93-20.597,63.09-49.161c0.521-2.079,2.372-3.547,4.516-3.547h22.208c2.905,0,5.113,2.639,4.575,5.494 c-8.385,44.53-47.482,78.218-94.449,78.218c-25.752,0-49.139-10.129-66.395-26.619l-13.842,13.842 c-5.859,5.859-15.878,1.709-15.878-6.577v-51.956C3.101,118.882,7.265,114.717,12.402,114.717z"/></svg>');
}
#move-controls button[data-control="rotate-up"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="56.567 58.151 83.712 190.644"><path d="M137.18,67.453v51.955c0,8.287-10.02,12.438-15.879,6.577l-16.182-16.181c-11.344,12.116-17.562,27.84-17.548,44.521 c0.027,30.004,20.597,55.93,49.161,63.09c2.078,0.521,3.547,2.372,3.547,4.516v22.208c0,2.905-2.639,5.113-5.494,4.575 c-44.53-8.385-78.218-47.482-78.218-94.449c0-25.752,10.129-49.139,26.619-66.394L69.345,74.029 c-5.859-5.859-1.709-15.878,6.577-15.878h51.955C133.014,58.151,137.18,62.315,137.18,67.453z"/></svg>');
}
#move-controls button[data-control="rotate-right"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="3.101 111.617 190.645 83.712"><path d="M193.745,124.019v51.956c0,8.286-10.019,12.437-15.878,6.577l-13.842-13.842c-17.256,16.49-40.643,26.619-66.395,26.619 c-46.967,0-86.064-33.688-94.449-78.218c-0.538-2.855,1.67-5.494,4.575-5.494h22.208c2.144,0,3.995,1.468,4.516,3.547 c7.16,28.564,33.086,49.134,63.09,49.161c16.682,0.015,32.405-6.204,44.521-17.549l-16.181-16.181 c-5.86-5.859-1.71-15.879,6.577-15.879h51.955C189.581,114.717,193.745,118.882,193.745,124.019z"/></svg>');
}
#move-controls button[data-control="rotate-down"] {
  background-image: url('data:image/svg+xml; charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="56.567 58.151 83.712 190.645"><path d="M127.877,248.795H75.922c-8.286,0-12.437-10.02-6.577-15.879l13.842-13.842c-16.49-17.255-26.619-40.642-26.619-66.394 c0-46.967,33.688-86.064,78.218-94.449c2.855-0.538,5.494,1.67,5.494,4.575v22.208c0,2.144-1.469,3.995-3.547,4.516 c-28.564,7.16-49.134,33.086-49.161,63.09c-0.015,16.682,6.204,32.405,17.548,44.521l16.182-16.181 c5.859-5.86,15.879-1.71,15.879,6.577v51.954C137.18,244.631,133.014,248.795,127.877,248.795z"/></svg>');
}





#mydiv {
  position: absolute;
  z-index: 9;
  background-color: transparent !important;
  text-align: center; 
  margin: auto;
  width: 100%;
  padding-right: 50px !important;
  padding-top: 100px !important
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: transparent !important;
  color: #fff;
}